.nadvar {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: #1b1b1b;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20 px;
    color:#053F5C;
    margin-top: 4vh;
    cursor:pointer;
}

.seeCarrito {
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}