@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.image{
  height: 100vh;
  width: 100vw;
  background: url("./assets/hamburmundo.jpg");
  background-size: cover;
  background-position: center;
}
 




  
